body {
  background-color : var(--aufbau-bg);
  color            : var(--aufbau-fg);
}

button {
  align-items     : center;
  cursor          : pointer; 
  display         : inline-flex;
  flex-direction  : row;
  justify-content : center;
}

div { min-height: 0; }

img { /*display: inline-block;*/
  max-width      : 100%;
  object-fit     : cover;
  vertical-align : bottom
}

svg { max-width : 100%; }

/*//////////////////////// TYPO ////////////////////////*/

body {
  text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  
  line-height   : 1.25;
  overflow-wrap : break-word;
  text-align    : justify; 
  text-wrap     : pretty;
}

h1, h2, h3, h4, h5, h6 {
  font-weight : 700;
  line-height : 1.25;
  text-wrap   : balance;
}

/*//////////////////// TRAIT CLASSES ///////////////////*/

.numeric { font-variant-numeric: tabular-nums; }



