/*/////////////////////// RESET ////////////////////////*/

*, *::before, *::after {
  box-sizing : border-box;
  margin     : 0;
  padding    : 0;
}
* { user-select: none; }

a, abbr, acronym, address, applet, article, aside, audio,
b, big, blockquote, body,
canvas, caption, center, cite, code,
dd, del, details, dfn, div, dl, dt,
em, embed,
fieldset, figure, figcaption, footer, form,
h1, h2, h3, h4, h5, h6, header, hgroup, html,
i, iframe, img, ins,
kbd,
label, legend,
mark, menu,
nav,
object, output,
p, pre,
q,
ruby,
s, samp, section, small, span, strike, strong, sub, summary, sup,
table, tbody, tfoot, thead, td, th, tr, tt,
time,
u,
var, video {
	border         : 0;
	border-color   : currentcolor; 
	border-style   : solid; 
	border-width   : 0;
  font-size      : 100%;
	vertical-align : baseline;
}

a { text-decoration: none; }

button {
  align-items     : center;
  cursor          : pointer; 
  display         : inline-flex;
  flex-direction  : row;
  justify-content : center;

  text-box: trim-both cap alphabetic;
  /*
  text-box-edge: text text;
  text-box-trim: trim-both;
  */
}

div { min-height: 0; }

img { /*display: inline-block;*/
  max-width      : 100%;
  object-fit     : cover;
  vertical-align : bottom
}

 input:focus { border: none; outline: none; }
select:focus { border: none; outline: none; }

svg { max-width : 100%; }

ol, ul {
	list-style: none;
}

table {
	border-collapse : collapse;
	border-spacing  : 0;
}

/*/////////////////////// COLORS ///////////////////////*/

:root {
  --aufbau-error   : red;
  --aufbau-success : green;
  --aufbau-warn    : yellow;
}

body {
  background-color : var(--aufbau-bg);
  color            : var(--aufbau-fg);
}

/*//////////////////////// TYPO ////////////////////////*/

:root {
  --aufbau-font           : sans;
  --aufbau-font-monospace : monospace;
}
	 
body { 
  font-family : var(--aufbau-font);
  line-height : 1;
  
  text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight : 700;
  line-height : 1.25;
  text-wrap   : balance;
}

p {
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  
  line-height   : 1.25;
  overflow-wrap : break-word;
  text-align    : justify; 
  text-wrap     : pretty;
}

blockquote, q {
  quotes: none;
  &::before, &::after { content: ''; content: none; }
}

/*//////////////////// TRAIT CLASSES ///////////////////*/

.hidden  { display: none; }
.numeric { font-variant-numeric: tabular-nums; }

.flow-y {
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  justify-content : center;
}
  


 


