@property --density  { syntax: "<custom-ident>"; inherits: true; initial-value: compact; }
@property --geometry { syntax: "<custom-ident>"; inherits: true; initial-value: sharp; }     

/*
---------- density ----------

---------- geometry ----------

sharp    = keinerlei rundungen
sharpish = minimale rundung, quasi überall gleich
round    = abgerundet

aber im neuen system am besten irgendwie relativ
*/

:root {
  --density  : compact;
  --geometry : sharp;
}

button {
  border-radius: --rad();
}
