/* 
function: --alpha
applies transparency to a color.
if no color is provided, defaults to currentColor.
*/
@function --alpha (
  --color   <color>      : currentColor,
  --opacity <percentage> : 50%,
  --mode                 : oklch
){
  result: color-mix(in var(--mode), var(--color) var(--opacity), transparent);
}

/* 
  function: --darker
  darkens a color by mixing it with black.
  if no color is provided, defaults to currentColor.
*/
@function --darker (
  --color  <color>      : currentColor, 
  --amount <percentage> : 10%,
  --mode                : oklch
){
  result: color-mix(in var(--mode), var(--color), black var(--amount));
}




/* trash */

@function --dashed-border(--color: red) {
  result: 2px dashed var(--color);
}

.argument {
  border: --dashed-border(blue);
}

.default {
  border: --dashed-border();
}


.grid-container {
  display: grid;
  /* Two columns: left narrower, right wider */
  grid-template-columns: 1fr 2fr; 
  /* Two rows of equal height */
  grid-template-rows: 1fr 1fr;    
  gap: 12px;
}

.left {
  /* Spans across both vertical rows */
  grid-row: span 2; 
}
