/* VARIANTE 1 */

@property --theme {
  syntax: "classic | oled | soviet | zombie";
  inherits: false;
  initial-value: zombie;
}

@property --theme-bg {
  syntax: "<color>";
  inherits: false;
}

@property --theme-fg {
  syntax: "<color>";
  inherits: false;
}

:root {
  --theme: oled;
  --theme-bg: if(
    style(--theme: classic) : white;
    style(--theme: oled)    : black;
    style(--theme: soviet)  : red;
    style(--theme: zombie)  : #282a36;
  );
  --theme-fg: if(
    style(--theme: classic) : black;
    style(--theme: oled)    : white;
    style(--theme: soviet)  : yellow;
    style(--theme: zombie)  : #f8f8f2;
  );
}

#devtools, .Dock > * {
  background : var(--theme-bg);
  color      : var(--theme-fg);
}



/* VARIANTE 2: dynamischer */

@property --theme {
  syntax: "classic | oled | soviet | zombie";
  inherits: true;
  initial-value: zombie;
}

@property --theme-bg {
  syntax: "<color>";
  inherits: false;
}

@property --theme-fg {
  syntax: "<color>";
  inherits: false;
}

:root {
  --theme: oled;
}
* {
  --theme-bg: if(
    style(--theme: classic) : white;
    style(--theme: oled)    : black;
    style(--theme: soviet)  : red;
    style(--theme: zombie)  : #282a36;
  );
  --theme-fg: if(
    style(--theme: classic) : black;
    style(--theme: oled)    : white;
    style(--theme: soviet)  : yellow;
    style(--theme: zombie)  : #f8f8f2;
  );
}

#app {
  --theme: soviet;
}
#devtools, .Dock > * {
  background : var(--theme-bg);
  color      : var(--theme-fg);
}



/* @aufbau/css/themes/zombie.css */

:root, :root[data-theme="zombie"] {
   --aufbau-bg     : #282a36;
   --aufbau-fg     : #f8f8f2;
   --aufbau-blue   : #8be9fd;
   --aufbau-green  : #50fa7b;
   --aufbau-orange : #ffb86c;
   --aufbau-red    : #ff79c6;
   --aufbau-purple : #bd93f9;
   --aufbau-yellow : #f1fa8c;
}




@property --theme {
  syntax: "classic | oled | soviet";
  inherits: false;
  initial-value: classic;
}

:root {
  --theme-bg: if(
    style(--theme: classic) : white;
    style(--theme: oled)    : black;
    style(--theme: soviet)  : red;
    else: purple
  );
  --theme-fg: if(
    style(--theme: classic) : black;
    style(--theme: oled)    : white;
    style(--theme: soviet)  : yellow;
    else: green
  );
}


#devtools, .Dock > * {
  --theme: soviet;
  
  background : var(--theme-bg);
  color      : var(--theme-fg);
}





@property --dv {
  syntax: "soviet | <color>";
  inherits: false;
  initial-value: soviet;
}


#devtools, .Dock > * {
  --dv: soviet;
  --dv-bg: if(
    style(--dv: soviet): red;
    else: var(--dv)
  );
  --dv-fg: if(
    style(--dv: soviet): yellow;
    else: var(--dv)
  );
  background : var(--dv-bg);
  color      : var(--dv-fg);
}
