/* @aufbau/css/tokens.css */

/*
--palette :: zombie | oled | classic | <color>
--color-bg
--color-fg
--color-ink
--color-success
--color-warning
--color-error

--scheme :: auto | light | dark
color-scheme (die Paletten arbeiten mit light-dark())

--geometry :: sharp | soft | round | pill
--radius
--border-width

--density :: compact | normal | comfortable | touch
--unit
--control-size

--skin :: flat | outlined | elevated | glass | monochrome
--surface-step
--shadow-level
--border-alpha
--blur

--type :: system | humanist | mono | editorial
--font-body
--font-heading
--font-mono
--ratio

--motion :: none | calm | normal | playful
--motion
--ease-default

--contrast
normal, high
Verstärker für --surface-step und --border-alpha
*/

@property --bg           { syntax: "<color>"; inherits: true; initial-value: #282a36; }
@property --fg           { syntax: "<color>"; inherits: true; initial-value: #f8f8f2; }
@property --accent       { syntax: "<color>"; inherits: true; initial-value: #ff79c6; }


@property --gap     { syntax: "<length> | <custom-ident>"; inherits: false; initial-value: 0; }
@property --margin  { syntax: "<length> | <custom-ident>"; inherits: false; initial-value: 0; }
@property --padding { syntax: "<length> | <custom-ident>"; inherits: false; initial-value: 0; }

:root {
  --color-error   : red;
  --color-success : green;
  --color-warn    : yellow;
  
  --spacing-tiny   : 0.25rem;
  --spacing-small  : 0.50rem;
  --spacing-normal : 1.00rem;
  --spacing-large  : 2.00rem;
  --spacing-huge   : 4.00rem;
}

* {
  gap: if(
    style(--gap: tiny)   : var(--spacing-tiny);
    style(--gap: small)  : var(--spacing-small);
    style(--gap: normal) : var(--spacing-normal);
    style(--gap: large)  : var(--spacing-large);
    style(--gap: huge)   : var(--spacing-huge);
    else : var(--spacing-normal);
  );
 margin: if(
    style(--margin: tiny)   : var(--spacing-tiny);
    style(--margin: small)  : var(--spacing-small);
    style(--margin: normal) : var(--spacing-normal);
    style(--margin: large)  : var(--spacing-large);
    style(--margin: huge)   : var(--spacing-huge);
  );
  padding: if(
    style(--padding: tiny)   : var(--spacing-tiny);
    style(--padding: small)  : var(--spacing-small);
    style(--padding: normal) : var(--spacing-normal);
    style(--padding: large)  : var(--spacing-large);
    style(--padding: huge)   : var(--spacing-huge);
  );
}

/* --skin */

/* --theme */

/*
:root {
  --skin : monochrome;
  &[data-skin] { --skin: attr(data-skin type("<custom-ident>"), monochrome); }
}

@container style(--skin: monochrome) {}
*/


/*
@layer tokens {}
*/
