/* @aufbau/css/themes/classic.css */

:root, :root[data-theme="classic"] {
   --aufbau-bg     : white;
   --aufbau-fg     : black;
   --aufbau-blue   : blue;
   --aufbau-green  : green;
   --aufbau-orange : orange;
   --aufbau-red    : red;
   --aufbau-purple : purple;
   --aufbau-yellow : yellow;
}
