/* @aufbau/css/themes/rainbow.css */

:root, :root[data-theme="rainbow"] {
   --aufbau-bg     : #0f172a;
   --aufbau-fg     : #f8fafc;
   --aufbau-blue   : #38bdf8;
   --aufbau-green  : #34d399;
   --aufbau-orange : #fb923c;
   --aufbau-red    : #ec4899;
   --aufbau-purple : #8b5cf6;
   --aufbau-yellow : #facc15;
}
