#app-header { 
  background-color : color-mix(in oklch var(--aufbau-bg) 80%,black);
  color            : var(--aufbau-fg);
}
#app-footer {
  background-color : color-mix(in oklch var(--aufbau-bg) 80%,black);
  color            : var(--aufbau-fg);
}
