/* gestalt/functions/misc.css */

@function --combine-strings(--strings type(<string>+)) {
  result: var(--strings) " ❤️";
}
/* content: --combine-strings("hello" "goodbye"); */

@function --color-choice(--color1 <color>, --color2 <color>, --breakpoint <length-percentage>: 720px) {
  result: var(--color1);
  @media (width < var(--breakpoint)) {
    result: var(--color2);
  }
}

@function --choice(--a type(*), --b type(*), --breakpoint <length-percentage>: 720px) {
  result: var(--a);
  @media (width < var(--breakpoint)) {
    result: var(--b);
  }
}

/* returns the negative of a value */
@function --negate(--value type(<length-percentage> | <number>)) {
  result: calc(-1 * var(--value));
}

/* custom light-dark() function that works for any value */
/* found here: https://www.bram.us/2025/09/30/css-custom-light-dark/ */
@function --light-dark(--l, --d) { result: if(color-scheme(dark): var(--d); else: var(--l)); }     
@function         --ld(--L, --D) { result: if(color-scheme(dark): var(--D); else: var(--L)); }


